<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>All User</title>
</head>
<body>
<a href="/">Home</a>
<br>
<a href="/findById">filter by id</a>
<br><a href="/findByName">filter by name</a>
<br><br><a href="/findByEmail">filter by email</a>
<br>
<a href="/deleteById">Delete user by id</a>
<br>
<a href="/deleteAll">Delete all users</a>


<h1>All User</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>

</body>
</html>