<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>user details</title>
</head>
<body>
<a href="/">Home</a>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Balance</th>
        <th>Review</th>
    </tr>
    <tr th:each="user : ${user}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.balance}"></td>
        <td th:text="${user.review}"></td>
    </tr>
</table>
</body>
</html>